@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
body {
  background: #f2f2f2;
  margin: 0;
  color: #444;
}

body * {
  font-family: 'Courier New', Courier, monospace;
}

header {
  text-align: center;
  background-color: #e7e7e7;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 60px;
  transform: rotate(-10deg);
}

header h1 {
  margin: 0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
}

.task-list {
  max-width: 640px;
  margin: 240px auto;
  margin-top: 100px;
}

.task {
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba((0, 0, 0, 0.05), green, blue, alpha);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task h3,
.task .icons {
  display: inline-block;
}

.task .icons {
  text-align: right;
}

.task i {
  font-size: 1.4em;
  margin-left: 6px;
  cursor: pointer;
  color: #bbb;
}

.filter {
  width: 640px;
  margin: 50px auto;
  text-align: center;
}

.filter button {
  display: inline-block;
  margin-left: 10px;
  background: #fff;
  border: 2px solid #555;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 1em;
}
/* icon styles */
.icons .fav {
  color: red;
}
.new-task-form {
  background: #e7e7e7;
  display: flex;
  padding: 20px 0;
  justify-content: center;
}
form button {
  background: #ffd859;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

form input {
  color: #555;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}

.loading {
  max-width: 640px;
  border: 1px solid #ffd859;
  background: #ffe9a0;
  color: #3a3a3a;
  padding: 5px 0;
  text-align: center;
  margin: 30px auto;
}
